body{
    display: block;
    margin: 0px;
}
#body{
background:#c0c0c0;
min-width: 500px;
max-width: 2500px;
margin: auto;
}

.content-white {
 background: #fff; /* Белый цвет фона */
 margin: 0 11px; /* Отступы по горизонтали */
 padding: 1em 10%; /* Поля */
 text-align: justify; /* Выравнивание по ширине */
}
.blockstyle{
margin: 0 auto;
width:815px;
}

#header{
background:  #f6f8f9;
height:130px;
text-align: justify;
letter-spacing: 1px;
padding: 2em 0%;

}
#imgheader {
    margin: 1px 30px;
}

header nav {
    display: inline-block;
    height: auto;
    width: auto;

}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}



.buttonstyle{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */  font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   border-radius: 5px;
    float: left;
    margin: 10px;

}

.blockmenu {
	width:25%;
	height:100%;
	float:left;
	margin-left: 20px;
	margin-top:2%;
	text-align:left;
}
.blockmenuimg {
	width:5%;
	height:100%;
	float:left;
	margin-top:2%;
	margin-right:5px;

}

#contact{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
height:200px;

}
.contactstyle{
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	border: 20px;

}

   .contactimg{
	  width:30px;
	  height:30px;
	  padding-right: 20px;
	   padding-top: 10px;
  }
.image{
	border: 50px; solid: rgba(0, 0, 0, 0);
	width:30px;
    height:30px;
	align:right;

}

 .contentTH{

    font-family: arial, verdana, sans-serif;
    border:15px;
    padding: 2px;    
   // padding-right: 35px;
	 text-align:right;
	 width:32%;
	 valign:top;
      }
  h4 {
	  margin-bottom: 1px;
	  margin-top: 10px;
  }
 .titlestyle {
  color:#6F84FF;
 }
  
.line {
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
   }       

#content{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,f5f7f9+100 */
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
height:130px;
padding-top: 20px;
}
.tooltip{
	position:fixed;
	z-index:999;
	left:-9999px;
	background-color:#dedede;
	padding:5px;
	border:1px solid #fff;
	width:250px;
}

#workcontent{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,f5f7f9+100 */
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

height:500px;
}

	/* Footer */
#footer {
	background: #f6f8f9;
	height: 80px;
}

.pf-author {
	color: #999;
	margin-top: 0px;

}
#social img {
-moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
/* Поворот на 360 градусов при наведении курсора*/
#social img:hover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}


/*Modal Window */
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		display: none;
		pointer-events: none;
	}

	.modalDialog:target {
		display: block;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 500px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}

	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #00d9ff; }   

	.lable {
                text-align: left;
				clear:left; 
				display:block;
				padding-right:4px; 
			    font-size: 18px;
				font-family: "Times New Roman", Times, serif;
				
             }
    .input {
                text-align: left;
				background-color:#F0F0F0;
				border: 0px;
				font-size: 18px;
				font-weight:bold;
				font-family: Arial, Helvetica, sans-serif;
				color: #1C5455;
                }  
    input {
    	size:50px;    	
    	-moz-box-sizing: border-box; /* в Firefox нужен префикс */
        box-sizing: border-box;
        width: 100%;
    }     
    textarea {  
        height: 100px; /* Высота поля в пикселах */
        resize: none; /* Запрещаем изменять размер */
       -moz-box-sizing: border-box; /* в Firefox нужен префикс */
       box-sizing: border-box;
       width: 100%;
   }                   
              
